div {
	width: 1024px;
	display: block;
}

img {
	width: 60%;
	margin-right: 30px;
}

div#first-section {
	color: black;
}

header {
	font-size: 20px;
	float: left;
	position: fixed;
	width: 270px;
}

p {
	font-size: 14px;
}

body{
	padding: 50px;
	background-color: #fff;
}

